@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    background-color: #26605c;
    color: #333;
    line-height: 1.6;
}

main {
    text-align: center;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden; 
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

h1,
h2 {
    line-height: 1.2;
    color: #1a1a1a;
}

.navbar {
    display: flex;
    justify-content: center;
    a {
        margin: 20px;
        font-size: 1.25rem;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    /* border: 1px solid #ddd; */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}